.footer{
  position: relative;
  padding-top: 20px;
  padding-left: 10px;
  height: 100px;
  background-color: rgb(20, 20, 20);
  color: #699687;
  padding-left: 100px;
  padding-right: 50px;
}

.contact{
  position: absolute;
  right: 20px;
  top: 10px;
}
