---
title: Portofolio Merel Steenbrink
---
<body>



  <!-- Banner -->
  <div class="banner">
    <div class="navbar-wagon">

      <!-- Right Navigation -->
      <div class="navbar-wagon-right hidden-xs hidden-sm">
        <!-- Text links -->
        <a href="#about" class="navbar-wagon-item navbar-wagon-link">About</a>
        <a href="#education" class="navbar-wagon-item navbar-wagon-link">Education</a>
        <a href="#skills" class="navbar-wagon-item navbar-wagon-link">Skills</a>
        <a href="#onderkant" class="navbar-wagon-item navbar-wagon-link"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
      </div>

      <div class="navbar-wagon-item hidden-md hidden-lg">
        <div class="dropdown">
          <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><a href="#">Some mobile link</a></li>
            <li><a href="#">Other one</a></li>
            <li><a href="#">Other one</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="wrapper-banner">
      <div class="banner-content ">
        <div id="naam"><h1>Merel Steenbrink</h1></div>
        <br>
        <p>Junior Webdeveloper, Mathematician, Interdisciplinairy researcher, lifeplayer</p>
        <ul class="list-inline" style="font-size: 50px; font-color: #39524C;">
          <li><a href="https://www.linkedin.com/in/merel-steenbrink-13b067101?trk=nav_responsive_tab_profile_pic" target="_blank">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a></li>
          <li><a href="https://github.com/MerelSteenbrink/profile" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- about me -->
  <div class ="wrapper aboutme padded" id="about">
    <h1 style="text-align: center"><strong>ABOUT</strong></h1>
    <div class="about-container">
      <div class="row padded">
        <div class="col-xs-3 col-md-offset-2 col-md-3"><div class="head"> <img src="images/hoofd.jpg" class="avatar-large"></div></div>
        <div class="col-xs-9 col-md-7"><div class="about">
          <p>I'm charmed by the beauty of logic. I love thinking, profoundly understand problems and then find smart solutions. I'm always thinking about how things can be faster, more efficient, but most of all: more fun! </p>
          <p> Besides thinking, I like laughing about myself, playing around, doing a handstand and jumping on things and people. My power is combining my smart brains with my playfull mind. </p>
          <p>I want to contribute to projects which make the world a little bit better. Some of my interests are renewable energy, smart grids, (food)waste, circulair economy and the role of science in society. </p>
        </div></div>
      </div>
    </div>
  </div>
</div>


<!-- Education -->
<div class ="wrapper education padded" id="education">
  <h1 style="text-align: center"><strong>EDUCATION</strong></h1>
  <div class="container ">
    <div class="row padded">
      <div class="col-xs-12 col-md-6">
        <div class="card slide3" data-target=".toslide3">
          <div class="card-category">Le Wagon</div>
          <div class="card-description">
            <p>2016</p>
            <div class="slide toslide3" style="display:none">
              <p>Le Wagon is an intensive 12 weeks full-time training school in web application development for front-end and back-end coding using mainly Ruby and Ruby on Rails. I am very excited about the combination of hard thinking and inmediate result. </p>
            </div>
          </div>
          <img class="card-company avatar"  src="images/lewagon.png">
          <i class= "down down3 fa fa-angle-double-down" aria-hidden="true"></i>

        </div><!-- insert <div class="card"> -->
        <div class="card slide1"  data-target=".toslide1">
          <div class="card-category">Bachelor Mathematics</div>
          <div class="card-description">
            <p>2012-2016 </p>
            <div class="slide toslide1"  style="display:none">
              <p> In 2015 I studied at the University Complutense of Madrid. </p>
              <p> In my final thesis I developed a model to predict the demand for charging stations for electirc vehicles in Amsterdam.</p>
              <p> A summary of my final thesis got published in <a href="http://ercim-news.ercim.eu/en105/special/predicting-the-demand-for-charging-stations-for-electric-vehicles" target="_blank">ERCIM NEWS</a>.</p>
              <p>I'm accepted to present my thesis at the <a href="http://www.heart2016.org/" target="_blank"> HEART symposium</a>.</p>
            </div>
          </div>
          <img class="card-company avatar" src="images/uva.png">
          <i class= "down down1 fa fa-angle-double-down" aria-hidden="true"></i>
        </div>
        <div class="card slide2" data-target=".toslide2">
          <div class="card-category">Bachelor Beta-Gamma</div>
          <div class="card-description">
            <p>2011-2014</p>
            <div class="slide toslide2"  style="display:none">
              <p> Interdisciplinary studies combining social with exact sciences.</p>
              <p> My final project, won price for best <a href="http://iis.uva.nl/nieuws-en-agenda/nieuws/content/2014/02/fogponics-wint-iis-wetenschapsprijs.html" target="_blank">interdisciplinary project </a> of the year. I researched fogponics: a way to grow plants on fog.</p>
            </div>
            <img class="card-company avatar" src="images/uva.png">
            <i class= "down down2 fa fa-angle-double-down" aria-hidden="true"></i>

          </div><!-- insert <div class="card"> -->
          <a class="card-link" href="#" ></a>
        </div>
        <div class="card slide4" data-target=".toslide4">
          <div class="card-category">BLCLA</div>
          <div class="card-description">
            <p>2010-2011</p>
            <div class="slide toslide4"  style="display:none">
              <p>Creative gap year based on ideas of Rudolf Steiner. A combination of personal development and space for creativity. </p>
              <p> Here I discoverd my love for dancing, making music and writing weird texts.</p>
            </div>
          </div>
          <img class="card-company avatar" src="images/blcla.jpg">
          <i class= "down down4 fa fa-angle-double-down" aria-hidden="true"></i>

        </div><!-- insert <div class="card"> -->
      </div>
      <div class="col-xs-12 col-md-6">


        <img src="images/ERCIM.jpg" class="hidden toslide1 picci" style="width:430px;">
        <img src="images/bg.jpg" class="hidden toslide2 picci" style="width:430px;">
        <img src="images/lewag.jpg" class="hidden toslide3 picci" style="width:430px;">

        <div class="miniwrap">
          <img src="images/zang.jpg" class="hidden toslide4 picci" style="width:430px;">
          <img src="images/dans.jpg" class="hidden toslide4 picci" style="width:430px;">
        </div>

      </div>
    </div>
  </div>
</div>

</div>
</div>

<!-- Working experience -->

<!-- Skills -->
<div class ="wrapper skills padded" id="skills">
  <h1 style="text-align: center"><strong>SKILLS   </strong></h1>
  <div class="container">
    <div class="row padded">
      <div class="col-xs-12 col-md-4"> <div class="categ" style="font-weight: bold">Back-end </div>
      <br>
      <ul>
        <li><i class="fa fa-check"></i> Ruby</li>
        <li> <i class="fa fa-check"></i>  Ruby on Rails</li>
        <li><i class="fa fa-check"></i>  Python</li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-4"><div class="categ" style="font-weight: bold"> Front-end</div>
    <br>
    <ul>
      <li> <i class="fa fa-check"></i> HTML</li>
      <li> <i class="fa fa-check"></i>  CSS </li>
      <li> <i class="fa fa-check"></i>  JQuery</li>
    </ul>
  </div>
  <div class="col-xs-12 col-md-4"><div class="categ" style="font-weight: bold"> Personal</div>
  <br>
  <ul>
    <li><i class="fa fa-check"></i> Analytical, fast thinker</li>
    <li> <i class="fa fa-check"></i>  Positive and full of energy</li>
    <li><i class="fa fa-check"></i>  Playfull</li>
  </ul>
</div>
</div>
</div>
</div>

<!-- Onderkant -->
<div class="footer" id="onderkant">
  <p> Wanna grab a coffee and discuss something? Let's go!</p>
  <div class="contact">
    <p>  <i class="fa fa-envelope" aria-hidden="true"></i>
     merel.steenbrink@gmail.com </p>
   </div>
 </div>
 <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


</body>
