---
title: Portofolio Merel Steenbrink
---
<body>
  <!-- Banner -->
   <div class="banner">
      <div class="banner-content ">
        <h1>Merel Steenbrink</h1>
        <p>Junior Webdeveloper, Mathematician, lifeplayer</p>
          <ul class="list-inline" style="font-size: 50px; font-color: #39524C;">
            <li><a href="https://www.linkedin.com/in/merel-steenbrink-13b067101?trk=nav_responsive_tab_profile_pic" target="_blank">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a></li>
            <li><a href="https://github.com/MerelSteenbrink/profile" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
          </ul>
      </div>
    </div>

  <!-- about me -->
  <div class ="wrapper aboutme padded">
    <h1 style="text-align: center">ABOUT</h1>
      <div class="about-container">
        <div class="row padded">
          <div class="col-xs-3 col-md-offset-2 col-md-3"><div class="head"> <img src="images/hoofd.jpg" class="avatar-large"></div></div>
          <div class="col-xs-9 col-md-7"><div class="about">
          <p>After reading this you know erverything about me.  Then you know I like laughing about myself, playing around and jumping on things and peoples</p>
          <p> After reading this you know I can be really serious too. I like tinking, learning profoundly understanding problems and then find smart solutions.</p>
          </div></div>
          </div>
        </div>
      </div>
  </div>


  <!-- Education -->
    <div class ="wrapper education padded">
    <h1 style="text-align: center">EDUCATION</h1>
      <div class="container ">
        <div class="row padded">
          <div class="col-xs-12 col-md-3">
            <div class="card">
            <div class="card-category">Bachelor Mathematics</div>
            <div class="card-description">
              <p>2012- 2016 </p>
              <p> in 2015 I studied at the University Complutense of  Madrid </p>
            </div>
              <img class="card-company avatar" src="images/uva.png">
            </div><!-- insert <div class="card"> -->
            <a class="card-link" href="#" ></a>
          </div>
          <div class="col-xs-12 col-md-3">

            <div class="card">
            <div class="card-category">Bachelor Beta-Gamma</div>
            <div class="card-description">
              <p>2011-2014</p>
              <p>Interdisciplinary studies combining social and exact sciences.</p>
            </div>
              <img class="card-company avatar" src="images/uva.png">
            </div><!-- insert <div class="card"> -->
            <a class="card-link" href="#" ></a>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="card">
            <div class="card-category">Le Wagon</div>
            <div class="card-description">
              <p>2016</p>
              <p>Coding bootcamp to become full stack web-developer.</p>
            </div>
              <img class="card-company avatar" src="images/lewagon.png">
            </div><!-- insert <div class="card"> -->
            <a class="card-link" href="#" ></a>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="card">
            <div class="card-category">BLCLA</div>
            <div class="card-description">
              <p>2010-2011</p>
              <p>Creative gap year based on ideas of Rudolf Steiner.</p>
            </div>
              <img class="card-company avatar" src="images/blcla.jpg">
            </div><!-- insert <div class="card"> -->
            <a class="card-link" href="#" ></a>
          </div>
        </div>
        </div>
      </div>
  </div>
  <!-- Working experience -->

  <!-- Skills -->
  <div class ="wrapper skills padded">
    <h1 style="text-align: center">SKILLS</h1>
      <div class="container">
        <div class="row padded">
          <div class="col-xs-12 col-md-4"> <div class="categ" style="font-weight: bold">Back-end </div>
            <br>
            <ul>
              <li><i class="fa fa-check"></i> Ruby</li>
              <li> <i class="fa fa-check"></i>Ruby on Rails</li>
              <li><i class="fa fa-check"></i> Python</li>
            </ul>
          </div>
          <div class="col-xs-12 col-md-4"><div class="categ" style="font-weight: bold"> Front-end</div>
            <br>
            <ul>
              <li> <i class="fa fa-check"></i> HTML</li>
              <li> <i class="fa fa-check"></i>CSS </li>
              <li> <i class="fa fa-check"></i>JQuery</li>
            </ul>
          </div>
          <div class="col-xs-12 col-md-4"><div class="categ" style="font-weight: bold"> Personal</div>
          <br>
          <ul>
              <li><i class="fa fa-check"></i> Analytical, fast thinker</li>
              <li> <i class="fa fa-check"></i>Positive and full of energy</li>
              <li><i class="fa fa-check"></i> Playfull</li>
            </ul>
        </div>
        </div>
      </div>
    </div>

  <!-- Onderkant -->
  <div class="footer">
    <p>Send me a mail or call me!</p>
    <div class="contact">
    <p>  <i class="fa fa-envelope" aria-hidden="true"></i>
 merel.steenbrink@gmail.com </p>
    <p> <i class="fa fa-phone" aria-hidden="true"></i> 0649400245 </p>
    </div>

  </div>

  <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


</body>
